<div class="container">
  <h1>Products</h1>
  <% @products.each do |product| %>
    <div class="card">
      <h3><%= product[:name] %> <%= product[:price] %></h3>
      <p><%= product[:website] %></p>
    </div>
  <% end %>
</div>
